################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Desafio1/.vs/Desafio1/v17/TestStore/0/000.testlog
