################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

.vs/
bin/
obj/
*.suo
*.wsuo
/Desafio3/Desafio/Data/DAO/IPacienteDAO.cs
